.crop-container {
	position: relative;
	height: 20rem;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 80px;
}
.controls {
	position: relative;
	bottom: 0px;
	width: 100%;
}

.slider {
	width: 100%;
}

.crop-btns {
	padding: 0.5rem 1rem;
	border-style: none;
	background-color: #7dd0d3;
	color: white;
	border-radius: 5px;
	font-weight: bolder;
	margin-bottom: 1rem;
}
