.doctor-wrapper {
	background-color: rgb(240, 249, 250);
	width: 100%;
	min-height: 20rem;
	padding: 2rem;
}

.doctor-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid black;
	max-width: 18rem;
	border-style: none;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
	border-radius: 10px;
	padding: 1rem;
	cursor: pointer;
}

.doctor-card img {
	vertical-align: middle;
	border-style: none;
	overflow: hidden;
	border-radius: 50%;
	width: 7rem;
	margin-bottom: 1rem;
}
.doctor-card h1 {
	font-size: 1.25rem;
	font-weight: 650;
	font-style: normal;
	color: rgb(54, 69, 79);
	text-align: center;
}

.doctor-card h4 {
	font-size: 1rem;
	font-style: normal;
	color: rgb(112, 203, 207);
	text-align: center;
}

.doctor-card h3 {
	font-size: 1rem;
	font-style: normal;
	color: rgb(54, 69, 79);
	text-align: center;
}
.doctor-extra {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
	border-radius: 10px;
	padding: 1rem;
	width: auto;
}

.doctor-extra h1 {
	font-size: 1.5rem;
	font-weight: 650;
	font-style: normal;
	color: rgb(54, 69, 79);
	text-align: center;
}
